<p id="notice"><%= notice %></p>
<h1>Contacts</h1>
<% if @contacts.blank? %>
  <div><p>Information would be added later</p></div>
<% else %>
  <% @contacts.each do |contact| %>
    <div class="parent-index">
      <table class = "table">
        <tbody>
          <tr>
            <div class = "table-name"><b><%= contact.name %></b></div>
          </tr>
          <%= show_non_blank_field "Address", contact.address %>
          <%= show_non_blank_field "Email", contact.email %>
          <%= show_non_blank_field "Mobile number", contact.mobile_number %>
          <%= show_non_blank_field "Facebook", contact.facebook %>
          <%= show_non_blank_field "Instagram", contact.instagram %>
          <%= show_non_blank_field "Other info", contact.other_info %>
          <% if current_user&.admin?%>
            <tr>
              <td>
                <%= link_to '<button type="button" class="btn btn-danger">Edit</button>'.html_safe, edit_contact_path(contact) %>
                <%= link_to '<button type="button" class="btn btn-dark">Delete</button>'.html_safe, contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>  
  <% end %>
<% end %>
<% if current_user&.admin?%>
  <%= link_to'<button type="button" class="btn btn-success">New Contact</button>'.html_safe , new_contact_path %>
<% end %>
