<%= form_with(model: [:city, @district], local: true) do |form| %>
  <% if district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(district.errors.count, "error") %> prohibited this district from being saved:</h2>

      <ul>
      <% district.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="district-form-size">
    <div class="form-group">
      <div class="district-text-size">
        <%= form.label :name %>
      </div>  
      <%= form.text_field :name, class: "form-control" %>
      <%= form.hidden_field :city_id, value: params[:city_id] %>
    </div>

    <div class="actions form-group">
        <%= form.button :submit => "", class: "btn btn-warning"%>
    </div>
  </div>  
<% end %>
