<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @city.name%>
</p>
<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 	  
    <% @city.districts.each do |district| %>
      <tr>
        <td><%= district.name %></td>
        <%if current_user.admin?%> 
        <td><%= link_to "Edit Districs", edit_city_district_path(@city, district)%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  </table>
<%= link_to 'Back', cities_path %>

<%if current_user.admin?%> 

<%= link_to "Add Districs", new_city_district_path(@city) %>
<%= link_to "Delete Districs" %>
<% end %>
