<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>
<p>
  <strong>Districts:</strong>
  <%=@city.districts.map { |district| district.name }.join(' ') %>
</p>

<%= link_to 'Back', cities_path %>

<%if current_user.admin?%> 
  <%= link_to "Add Districs" , :controller => "districts", :action => "new" %>
<% end %>
