<h1>Editing Inquiry</h1>

<%= form_with(model: @inquiry, local: true) do |form| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=form.label :status %>
    <%= form.collection_select :status, Inquiry.statuses.map{ |a| [a.first,a.first] },  :first, :second %>

  </div>
  <div class="field">
  <%= form.label :timeslot %>
  <%= form.collection_select(:timeslot_id, Timeslot.all, :id, :start_time)
  %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Show', @inquiry %> |
<%= link_to 'Back', inquiries_path %>
