<header class="header">
  <div class="nav-links">
    <div class="container">
      <%= link_to 'News', root_path, class: 'btn btn-warning' %>
      <%= link_to 'About Us', '', class: 'btn btn-warning' %>
      <%= link_to 'Contacts', '', class: 'btn btn-warning' %>
      <% if user_signed_in? %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-warning right' %>
        <%#= link_to image_tag('exit.png', size: '47x47'), destroy_user_session_path, method: :delete, class: 'right' %>
      <% else %>
        <%= link_to 'Log In', new_user_session_path, class: 'btn btn-warning right' %>
        <%#= link_to image_tag('plus.png', size: '47x47'), new_user_session_path, class: 'right' %>
      <% end %>
    </div>
  </div>
  <div class="header-main">
    <div class="container">
      <div class="header-info">
        <h1>Waste Sorting</h1>
        <h2>Make Earth clean again!</h2>

        <% if user_signed_in? %>
          <%= link_to 'Request', '', method: :delete, class: 'btn btn-warning' %>
          <%#= link_to image_tag('exit.png', size: '47x47'), destroy_user_session_path, method: :delete, class: 'right' %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: 'btn btn-warning' %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-warning' %>
          <%#= link_to image_tag('plus.png', size: '47x47'), new_user_session_path, class: 'right' %>
        <% end %>
      </div>
    </div>
  </div>

  <!--<h1 class="header-title">-->
    <!--<%#= link_to 'Waste Sorting', root_path, class: 'header-link'%>-->
  <!--</h1>-->
  <!--<div class="btn-group btn-group-justified" id="nav_row" role="group">-->
    <!--TODO: customize links list by user role -->
    <%#= link_to t('menu.home'), root_path, class: 'btn btn-info' %>
    <%#= link_to t('menu.courses'), '', class: 'btn btn-info' %>
    <%#= link_to t('menu.hometasks'), '', class: 'btn btn-info' %>
  <!--</div>-->
</header>
