<header class="header">
  <div class="nav-links">
    <div class="container">
      <%= link_to 'News', root_path, class: 'btn btn-warning' %>
      <%= link_to 'About Us', abouts_path, class: 'btn btn-warning' %>
      <%= link_to 'Contacts', contacts_path, class: 'btn btn-warning' %>
      <% if user_signed_in?  %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-warning right' %>
        <% if current_user.account %>
          <%= link_to 'Account', account_path(current_user.account), class: 'btn btn-warning right' %>
        <% else %>
          <%= link_to 'Account', new_account_path, class: 'btn btn-warning right' %>
        <% end %>
      <% else %>
        <%= link_to 'Log In', new_user_session_path, class: 'btn btn-warning right' %>
      <% end %>
    </div>
  </div>
  <div class="header-main">
    <div class="container">
      <div class="header-info">
        <h1>Waste Sorting</h1>
        <h2>Make Earth clean again!</h2>

        <% if user_signed_in? %>
          <%= link_to 'Request', '', class: 'btn btn-warning' %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: 'btn btn-warning' %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</header>
