<!DOCTYPE html>
<html>
  <head>
    <title>WasteSorting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="main container">
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <span> Pivorak Ruby Summer Course</span>
        <span class="right"> All Rights Reserved &copy; 2019</span>
      </div>
    </footer>
  </body>
</html>
