<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
 
  <div class="form-group">
    <%= form.label :surname %>
    <%= form.text_field :surname, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control", placeholder: "Шевченка, 77" %>
  </div>

  <div class="form-group">
    <%= form.label :mobile_number %>
    <%= form.text_field :mobile_number, class: "form-control" %>
  </div>
  
  <% if current_user.customer? && @districts %> 
    <div class="form-group">
      <%= form.label :district_id, "District" %> 
      <%= form.select :district_id, {}, {}, {class: "form form-group form-control"} do %>
        <% @districts.each do |d| -%>
          <%= content_tag(:option, "#{d.name}, #{d.city.name}", value: d.id) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
