<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
<% account = @accounts%>
<% else %>
<% account = @account%>
<%end%>
<p>
  <strong>Name:</strong>
  <%= account.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= account.surname %>
</p>

<p>
  <strong>Address:</strong>
  <%= account.address %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= account.mobile_number %>
</p>

<%= link_to 'Edit', edit_account_path(account) %> |
<%= link_to 'Back', accounts_path %>
