<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @account.surname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @account.mobile_number %>
</p>

<%= link_to 'Edit', edit_account_path(current_user.account) %> |
<%= link_to 'Back', accounts_path %>
