<p id="notice"><%= notice %></p>

<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">My Account</div>
    <div class="card-body">
      <h5 class="card-title"><%= "#{@account.name} #{@account.surname}" %></h5>
    <p class="card-text">
        <strong>Address:</strong>
        <%= @account.address %>
      </p>
    <p class="card-text">
        <strong>Mobile number:</strong>
        <%= @account.mobile_number %>
    </p>
    </div>
</div>
<%= link_to '<button type="button" class="btn btn-warning">Edit</button>'.html_safe, edit_account_path(@account) %>

<%= link_to '<button type="button" class="btn btn-warning">Back</button>'.html_safe, accounts_path %>
